<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Login</title>
</head>
<body>
    <h1>Login with Spotify</h1>
    <a href="https://accounts.spotify.com/authorize?client_id=36b123eaee53427689d7db0e5320281b&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fspotify-callback%2F&scope=user-read-email%20user-read-private&state=34fFs29kd08">
  Login with Spotify
</a>

</body>
</html>
